body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    height: 100vh;
}
img
{
    width: 100vw;
    height: 100vh;
}
div{
    padding: 30px;
    position: relative;
    bottom: 650px;
    line-height: 1;
}
input{
    text-align: center;
    opacity: 0.5;
    background: none;
    outline: none;
    border: none;
    font-size: 30px;
}